<?xml version="1.0" encoding="UTF-8"?>
<Server>
  <Service name="Catalina">
    <Connector port="18080"/>
    <Connector port="18081"/>
    <Connector port="18082"/>
    <Engine defaultHost="localhost">
      <Host name="localhost">
        <Context path="/b" docBase="D:/OneDrive/laptop-D/projects/tomcat/DIYTomcat/webapps/b"/>
        <Context path="/a" docBase="D:/OneDrive/laptop-D/projects/tomcat/DIYTomcat/webapps/a"/>
        <Context path="/" docBase="D:/OneDrive/laptop-D/projects/tomcat/DIYTomcat/webapps/ROOT"/>
        <Context path="/j2ee" docBase="D:/OneDrive/laptop-D/projects/tomcat/DIYTomcat/webapps/j2ee"/>
        <Context path="/javaweb" docBase="D:/OneDrive/laptop-D/projects/tomcat/JavaWeb/web"  reloadable = "true"/>
      </Host>
    </Engine>
  </Service>
</Server>
